<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
<body>
  <div class="container-reservation">
    <div class="logo">
      <a href="/"><img src="/images/buho.png" alt="logo"></a>
    </div>
    <div class="reservation-text">
        <p>
            Formulario de edici칩n de productos
        </p>
    </div> 
    <form action="/products/:id?_method=PUT" method="POST" enctype="multipart/form-data">
      <div class="elem-group">
        <input type="hidden" id="id" name="id" value="<%= product.id %>" pattern=[A-Z\sa-z]{3,20} >
      </div>
        <div class="elem-group">
          <label for="name">Nombre del producto</label>
          <input type="text" id="name" name="name" value="<%= locals.oldData ? oldData.name : product.name %>" 
          class="<%= locals.errors && errors.name ? 'error-style': null %>">
        </div>
        <div class="error-msg">
          <% if (locals.errors && errors.name) { %>
              <%= errors.name.msg %>
             <% } %>
        </div>
        <div class="elem-group">
          <label for="text">Descripci칩n del producto</label>
          <input type="text" id="description" name="description" value="<%= locals.oldData ? oldData.description : product.description %>"
          class="<%= locals.errors && errors.description ? 'error-style': null %>"> 
        </div>
        <div class="error-msg">
          <% if (locals.errors && errors.description) { %>
              <%= errors.description.msg %>
             <% } %>
        </div>
        <div class="elem-group">
          <label for="price">Precio</label>
          <input type="number" id="price" name="price" value="<%= locals.oldData ? oldData.price :product.price %>" 
          class="<%= locals.errors && errors.price ? 'error-style': null %>">
        </div>
        <div class="error-msg">
          <% if (locals.errors && errors.price) { %>
              <%= errors.price.msg %>
             <% } %>
       </div>
        <div class="elem-group">
          <label for="category">Categoria</label>
          <select id="category" name="category" class="<%= locals.errors && errors.category ? 'error-style': null %>" >
              <option value="">Elige Categoria</option>
              <% let categories = ['S치nduches', 'Hamburguesas', 'Acompa침amientos', 'Bebidas', 'Cervezas artesanales','Cervezas del mundo', 'Entradas', 'Postres', 'Fuertes'] %>
              <% for( const oneCategory of categories) { %>
                <% if (!product.category) { %>
                  <option value="<%= oneCategory %>"
                      <%= oneCategory === product.categories.name ? 'selected' : null %> 
                      ><%= oneCategory %></option>        
                      <% } else { %>
                        <option value="<%= oneCategory %>"
                          <%= oneCategory === oldData.category ? 'selected' : null %> 
                          ><%= oneCategory %></option>                  
                        <% } %>
                <% } %>
          </select>
          <div class="error-msg">
            <% if (locals.errors && errors.category) { %>
                <%= errors.category.msg %>
               <% } %>
         </div>
          <div class="elem-group">
          <label for="delivery">Delivery</label>
          <select name="delivery" id="delivery" class="<%= locals.errors && errors.delivery ? 'error-style': null %>">
            <option value="true">Si</option>
            <option value="false">No</option>
          </select>
            </div>
            <div class="error-msg">
              <% if (locals.errors && errors.delivery) { %>
                  <%= errors.delivery.msg %>
                 <% } %>
            </div>
        </div>
        <div class="elem-group">
          <label for="image">Sube la imagen del producto</label>
          <input type="file" id="image" name="image" value="<%= locals.oldData ? oldData.image :product.image %>"
          class="<%= locals.errors && errors.image ? 'error-style': null %>" >
        </div>
        <div class="error-msg">
          <% if (locals.errors && errors.image) { %>
              <%= errors.image.msg %>
             <% } %>
       </div>
        <button type="submit">Enviar</button>
      </form>   
  </div>    
</body>
<footer>
<%- include('../partials/footer.ejs') %>
</footer>
</html>