<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>

    
    <h2><%= product.category %></h2>
        <div class="product-container">
            <div class="item">
                <h3><%= product.productName %></h3>
                <img src= <%= product.image %>>
                <p class="description"><%= product.description %></p>
                <p class="price">$<%= product.price %></p>
                <div>
                    <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
                    <a href="products/<%= product.id %>">
                        <button> Editar Producto  <i class="fas fa-shopping-bag"></i></button>
                    </a>
        
                </div>
            </div>      
        </div>
        <div class="principal"> 
            <div class="video-background">
                <video class="video-foreground" muted autoplay loop>
                <source src="/images/videos/calamaradaId.mp4" type="video/mp4">
                </video>
            </div>
            <div class="letra-slogan">         
                <h1>clandestino</h1>
                <h6>Calamarada</h6>
            </div>
        </div>     
</main>
<%- include('partials/footer.ejs') %>
</body>
</html>