
<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <body>
        <script src="/validationsFront/validationRegister.js"></script>
        <div class="logo">
            <img class="imagen" src="/images/imagen-register.jpg" alt="logo">

        </div>
        <form id="formRegister" action="/register" method="POST" enctype="multipart/form-data">
            <div class="container-form <%= locals.errors && errors.name? 'border-msg' : '' %>" >
                <label for="name"></label>
                <input placeholder="Nombre" type="text" name="name" id="name" value="<%= locals.oldData ? oldData.name : null %>" >
            </div>
            <section class="error-msg">
                <ul>

                </ul>
            </section>
            <div class="error-msg">
                <% if (locals.errors && errors.name) { %>
                 <%= errors.name.msg %>
                <% } %>
            </div>
            <div class="container-form <%= locals.errors && errors.lastname? 'border-msg' : '' %>">
                <label for="lastname"></label>
                <input placeholder="Apellido" type="text" name="lastname" id="lastname" value="<%= locals.oldData ? oldData.lastname : null %>">
            </div>
            <div class="error-msg">
                <% if (locals.errors && errors.lastname) { %>
                    <%= errors.lastname.msg %>
                   <% } %>
            </div>
            <div class="container-form <%= locals.errors && errors.email? 'border-msg' : '' %>">
                <label for="email"></label>
                <input placeholder="Email" type="text" name="email" id="email" value="<%= locals.oldData ? oldData.email : null %>">
            </div>
            <div class="error-msg">
                <% if (locals.errors && errors.email) { %>
                    <%= errors.email.msg %>
                   <% } %>
            </div>
            <div class="container-form <%= locals.errors && errors.password? 'border-msg' : '' %>">
                <label for="password"></label>
                <input placeholder="Contraseña" type="password" name="password" id="password" value="<%= locals.oldData ? oldData.password : null %>">
            </div>
            <div class="error-msg">
                <% if (locals.errors && errors.password) { %>
                    <%= errors.password.msg %>
                   <% } %>
            </div>
            <!-- <p class="container-form">       
                <label for="Confirmar Contrase単a"></label>
                <input placeholder="Confirmar Contrase単a" type="text" name="usuario">
            </p> -->
            <!-- <p class="container-form">
                <label for="Acepto los terminos y condiciones"></label>
                <input placeholder="Acepto los terminos y condiciones" type="text" name="usuario">
            </p> -->
            <div class="container-form <%= locals.errors && errors.admin? 'border-msg' : '' %>">
                <label for="admin">Usuario administrador</label>
                <select name="admin" id="admin">
                    <option value="">Elige una opción</option>
                    <option value="1" <%= locals.oldData && (oldData.admin == '1') ? 'selected': null %>>Si</option>
                    <option value="0"<%= locals.oldData && (oldData.admin == '0') ? 'selected': null %>>No</option>
                </select>
            </div>
            <div class="error-msg">
                <% if (locals.errors && errors.admin) { %>
                    <%= errors.admin.msg %>
                   <% } %>
            </div>
            <div class="container-form <%= locals.errors && errors.image? 'border-msg' : '' %>">
                <label for="image">Sube la imagen del producto</label>
                <input type="file" id="image" name="image">
            </div>
            <div class="error-msg">
                <% if (locals.errors && errors.image) { %>
                    <%= errors.image.msg %>
                   <% } %>
            </div>
            <div class="enviar">
                <button type="submit">Enviar</button>
            </div>
        </form>
            
    </body>
</html>